body {
    background-color: darkblue;
    color: aqua;
    font-family: 'DejaVu Sans Mono', monospace;
    font-size: small;
    width: 43em;
}

.label {
    display: inline-block;
    width: 7em;
    color: white;
}

input {
    font-family: 'DejaVu Sans Mono', monospace;
    border: 0;
    border-bottom: 1px dotted aqua;
    background-color: darkblue;
    color: aqua;
    font-size: larger;
    width: 18em;
}

button {
    border: 1px solid aqua;
    background-color: darkblue;
    color: aqua;
    font-family: 'DejaVu Sans Mono', monospace;
    margin-left: 1px;
    margin-right: 1px;
}

button:active {
    background-color: aqua;
    color: darkblue;
}

.allButtons {
    width: 90px;
    user-select: none;
    flex: none;
}

.settingsButtons {
    height: 2em;
}

.storedSettingsTable {  }

.settingsRow {
    white-space: nowrap;
    height: 2em;
}

.emojisentence {
    font-size: x-large;
}

.symbolchar {
    color: yellowgreen;
}

.numberchar {
    color: aquamarine;
}

.password {
    font-size: 1.27rem;
    font-weight: bold;
    color: white;
    margin-top: 10px;
    min-height: 30px;
    display: block;
    word-wrap: break-word;
}

.chargroup {
    margin-right: 6px;
}